<ion-header>
  <ion-toolbar color="#4C2F87">
    <ion-title *ngIf="ver">  
      <a routerLink="/biblioteca"><ion-icon  style="color: white;" name="caret-back-outline"></ion-icon></a>
      {{ libro.title }}
      <ion-button *ngIf="!isFavorito" color="#4c2f87" (click)="addFavorito(libro.isbn[2], libro)"><ion-icon name="star-outline"></ion-icon></ion-button>
      <ion-button *ngIf="isFavorito" color="#4c2f87" (click)="deleteFavorito(libro.isbn[2])"><ion-icon  name="star"></ion-icon></ion-button>
    </ion-title>
    <!-- preguntar Joaquín
      no funciona atrás porque en la ruta ya estoy en /biblioteca en vez de en /detalles 
    SOLUCIÓN  estoy intentando leer una propiedad undefined porque el libro aún no está cargado,
    cuando se resuelve la petición la propiedad cambia a true y ya se puede mostrar-->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div *ngIf="ver"> <!-- si la propiedad ver es true, siginifica que hay respuesta de la petición y se muestran los detalles -->

    <ion-card>
      
        <img src="http://covers.openlibrary.org/b/isbn/{{libro.isbn[2]}}-M.jpg">
  
      <ion-card-header>
        <ion-card-title>{{ libro.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       
          <ion-text color="dark">
              <p><b>Autor:</b> {{libro.author_name}}</p>
          </ion-text>
          <ion-text color="dark">
              <p><b>Año:</b> {{libro.first_publish_year}}</p>
          </ion-text>
          <ion-text color="dark">
              <p><b>ISBN:</b> {{libro.isbn[2]}}</p>
          </ion-text>
          <ion-text color="dark">
              <p><b>Editorial: {{libro.publisher[0]}} </b></p>
          </ion-text>
         
      </ion-card-content>
    </ion-card>
    
  </div>

  <ion-button color="#CC00FF" (click)="mostrar()">VER MIS FAVORITOS</ion-button>
  <span  *ngIf="mostrarFav">
    <ion-card *ngFor="let fav of librosFav">
      
      <img src="http://covers.openlibrary.org/b/isbn/{{fav.isbn[2]}}-M.jpg">

    <ion-card-header>
      <ion-card-title>{{ fav.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     
        <ion-text color="dark">
            <p><b>Autor:</b> {{fav.author_name}}</p>
        </ion-text>
        <ion-text color="dark">
            <p><b>Año:</b> {{fav.first_publish_year}}</p>
        </ion-text>
        <ion-text color="dark">
            <p><b>ISBN:</b> {{fav.isbn[2]}}</p>
        </ion-text>
        <ion-text color="dark">
            <p><b>Editorial: {{fav.publisher[0]}} </b></p>
        </ion-text>
       
    </ion-card-content>
  </ion-card>
  </span>
</ion-content>
