<ion-header [translucent]="true">
  <ion-toolbar color="#4C2F87">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <ion-img src="../../assets/iBib2.jpg" class="iBib2"></ion-img>

  <ion-card color="#FF7E9F">

    <ion-card-header>
      <ion-card-title>Bienvenido a iBiblioteca!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        iBiblioteca es una aplicación desarrollada con Ionic que permite gestionar una biblioteca de un centro educativo.
        Para acceder a la biblioteca pulsa en el siguiente botón:
      </ion-text>
    </ion-card-content>

    <ion-button expand="block" color="#CC00FF" routerLink="/biblioteca">
      <ion-icon slot="start" name="school"></ion-icon>
      Acceso a iBiblioteca
    </ion-button>

  </ion-card>

  <ion-card color="#FF7E9F">
    <ion-card-header>
      <ion-card-title>Información sobre la autora</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        Aplicación desarrollada por Estefanía García.
      </ion-text>
    </ion-card-content>

    <ion-button expand="block" color="#CC00FF" routerLink="/autor">
      <ion-icon slot="start" name="person"></ion-icon>
      Consultar información
    </ion-button>
  </ion-card>

  
</ion-content> 
