#container {
  margin: auto;
  display: block;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-button {
  background: #ffbd37;
  color: #321752;
}
ion-button:hover {
  background: #ff79a3;
}

/*tamaño de la imagen en móvil*/
@media screen and (max-width: 480px) {
  .iBib2 {
    width: 60%;
  }
}

/* tamaño de la imagen en tablets*/
@media screen and (min-width: 481px) and (max-width: 846px) {
  .iBib2 {
    width: 40%;
  }
}
/* tamaño de la imagen  en pc*/
@media screen and (min-width: 847px) and (max-width: 2200px) {
  .iBib2 {
    width: 20%;
  }
}
