<ion-header>
  <ion-toolbar color="#4C2F87">
    <ion-title> <a routerLink="/home"><ion-icon style="color: white;" name="caret-back-outline"></ion-icon></a>Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<!-- barra de búsqueda -->
<ion-toolbar>
  <ion-searchbar placeholder="Buscar Libros" animated debounce="700" [value]="busqueda" (ionChange)="getBiblioteca($event)"> </ion-searchbar>
  <ion-button fill="clear"  (click)="scanBRcode()"><ion-icon slot="icon-only" name="barcode" color="dark" style="zoom:2.0;"></ion-icon></ion-button>
</ion-toolbar>

<ion-content>

  <div *ngIf="scannedBarCode">
    <ion-item>
        Scanned code output: <strong>{{ scannedBarCode["text"] }}</strong>
    </ion-item>
    <ion-item>
        Scanned code output: <strong>{{ scannedBarCode["format"] }}</strong>
    </ion-item>
  </div>

  <!-- para mostrar un loading mientras se resuelve la petición-->
<div class="loading first" *ngIf="cargando">
  <div class="loading second">
    <div class="loading third"></div>  
  </div>  
</div>

  <!--<app-input-busqueda (onEnter)="getBiblioteca($event)"></app-input-busqueda> -- introduzco el componente del cuadro de búsqueda-->
  
  <ion-list>
    <ion-item button *ngFor="let libro of biblioteca">

      <ion-thumbnail>
        <img src="https://covers.openlibrary.org/b/isbn/{{libro.isbn[4]}}-M.jpg">
      </ion-thumbnail>

      <ion-label style="margin-left: 2%;" >
        <ion-text color="dark">
          <h2><b>{{libro.title}}</b></h2>
        </ion-text>
        <ion-text color="medium">
          <p>Autor: {{libro.author_name}}</p>
        </ion-text>
        <ion-text color="medium">
          <p>Año: {{libro.first_publish_year}}</p>
        </ion-text>
      </ion-label>

      <a [routerLink]="['/detalle', libro.isbn[4]]"><ion-icon style="color: black;" name="chevron-forward-outline">  <!--ir a la página de detalle con la info del libro -->
      </ion-icon></a>

    </ion-item>
  </ion-list>



</ion-content>
