<ion-header>
  <ion-toolbar color="#4C2F87">
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <app-input-busqueda (onEnter)="getBiblioteca($event)"></app-input-busqueda> <!-- introduzco el componente del cuadro de búsqueda-->
  
  <ion-list>
    <ion-item button *ngFor="let libro of biblioteca">

      <ion-thumbnail>
        <img src="https://covers.openlibrary.org/b/isbn/{{libro.isbn[4]}}-M.jpg">
      </ion-thumbnail>

      <ion-label style="margin-left: 2%;" >
        <ion-text color="dark">
          <h2><b>{{libro.title}}</b></h2>
        </ion-text>
        <ion-text color="medium">
          <p>Autor: {{libro.author_name}}</p>
        </ion-text>
        <ion-text color="medium">
          <p>Año: {{libro.first_publish_year}}</p>
        </ion-text>
      </ion-label>

      <a [routerLink]="['/detalle', libro.isbn[4]]"><ion-icon  name="chevron-forward">  <!--ir a la página de detalle con la info del libro -->
      </ion-icon></a>

    </ion-item>
  </ion-list>



</ion-content>
